!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %nav.navbar.navbar-light.bg-faded
      / Toggle Button
      %button.navbar-toggler.hidden-sm-up{"data-target" => "#nav-content", "data-toggle" => "collapse", :type => "button"}
        ☰
      / Nav Content
      #nav-content.collapse.navbar-toggleable-xs
        %a.navbar-brand{:href => "/"}= image_tag 'logo-small'
        %ul.nav.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "/users/new"} Sign Up
          %li.nav-item
            %a.nav-link{:href => "#"} Sign In
          %li.nav-item
            %a.nav-link{:href => users_path} Browse Profiles
    = yield
    %footer.footer-12
      .container
        Made with #{image_tag('heart')} in Sai Gon